<html>
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
<script src="https://www.gstatic.com/charts/loader.js"></script>
<script src="update-archive-weather.js"></script>

<body>
<h1>Latest weather report</h1>
<div id="archiveweather">
<strong>Latest 5 minute average</strong></p>
<table style="text-align:center;margin-left:auto;margin-right:auto;width: 325px;">
	<tr>
		<td> Speed </td>
		<td> Gusting </td>
		<td> Direction </td>
		<td> Pressure </td>
	</tr>
	<tr>
		<td> <strong><span id="latestArchiveWindSpeed">..</span></strong>  </td>
		<td> <strong><span id="latestArchiveWindGust">..</span></strong>  </td>
		<td> <strong><span id="latestArchiveWindDirection">..</span></strong> </td>
		<td> <strong><span id="latestArchivePressure">..</span></strong>  </td>
	</tr>
</table>
<p>updated at <span id="latestArchiveDateTime">..</span></p>
</div>
</div>
<div id="wind_speed_chart" style="height:50%"></div>
<div id="wind_direction_chart" style="height:50%"></div>
<div id="pressure_chart" style="height:50%"></div>
<p></div><!-- archiveweather --></p></div>

<script>
jQuery(document).ready(function () {


	// Load the Visualization API and the piechart package.
	google.charts.load('current', {'packages':['corechart']});

	//dayUrl = 'https://content1.hillheadsc.org.uk/weewx/json/day.json';
	readAndUpdateLatestArchive('$Extras.Json.content_path');
	
	setInterval(function(){
		readAndUpdateLatestArchive() // this will run after every 60 seconds
	}, 60000);

	

		

}) // jquery ready
</script>
</body>
</html>